openapi: 3.1.0
info:
  title: Amazon Lex Bots API
  description: The Amazon Lex API provides programmatic access to manage Lex resources.
  version: '2024-01-01'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
servers:
- url: https://models-v2-lex.us-east-1.amazonaws.com
  description: Amazon Lex endpoint
security:
- sigv4: []
tags:
- name: Bots
  description: Lex bot management
paths:
  /bots:
    post:
      operationId: CreateBot
      summary: Amazon Lex Create Bot
      description: Creates an Amazon Lex conversational bot.
      tags:
      - Bots
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: ListBots
      summary: Amazon Lex List Bots
      description: Gets a list of available bots.
      tags:
      - Bots
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /bots/{botId}:
    get:
      operationId: DescribeBot
      summary: Amazon Lex Describe Bot
      description: Provides metadata information about a bot.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of the bot.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: UpdateBot
      summary: Amazon Lex Update Bot
      description: Updates the configuration of an existing bot.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of the bot.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: DeleteBot
      summary: Amazon Lex Delete Bot
      description: Deletes all versions of a bot, including the Draft version.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of the bot.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents:
    post:
      operationId: CreateIntent
      summary: Amazon Lex Create Intent
      description: Creates an intent.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        schema:
          type: string
        description: The identifier of the bot.
      - name: botVersion
        in: path
        required: true
        schema:
          type: string
        description: The version of the bot.
      - name: localeId
        in: path
        required: true
        schema:
          type: string
        description: The locale of the bot.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: ListIntents
      summary: Amazon Lex List Intents
      description: Returns a list of the intents in the specified bot locale.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        schema:
          type: string
        description: The identifier of the bot.
      - name: botVersion
        in: path
        required: true
        schema:
          type: string
        description: The version of the bot.
      - name: localeId
        in: path
        required: true
        schema:
          type: string
        description: The locale of the bot.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4 authentication
