openapi: 3.2.0
info:
  title: Amazon Lex Model Building V2 Testsetdiscrepancy API
  description: Amazon Lex V2 Model Building operations let you build and manage conversational bots — bots, aliases, locales, intents, slots, slot types, custom vocabularies, imports/exports, test sets and analytics. Derived mechanically from the AWS-published Smithy 2.0 service model (aws/api-models-aws, models/lex-models-v2/service/2020-08-07). Requests are signed with AWS Signature Version 4 using service name lex.
  version: '2020-08-07'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-generated-from: AWS Smithy 2.0 service model (https://github.com/aws/api-models-aws) — mechanical transform, no hand-authored operations
servers:
- url: https://models-v2-lex.us-east-1.amazonaws.com
  description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
security:
- sigv4: []
tags:
- name: testsetdiscrepancy
paths:
  /testsetdiscrepancy/{testSetDiscrepancyReportId}:
    get:
      operationId: DescribeTestSetDiscrepancyReport
      summary: Gets metadata information about the test set discrepancy report
      description: Gets metadata information about the test set discrepancy report.
      tags:
      - testsetdiscrepancy
      parameters:
      - name: testSetDiscrepancyReportId
        in: path
        required: true
        description: The unique identifier of the test set discrepancy report.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeTestSetDiscrepancyReportResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '404':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
components:
  schemas:
    TestSetSlotDiscrepancyItem:
      type: object
      description: Contains information about discrepancy in a slot information between the test set and the bot.
      properties:
        intentName:
          type: string
          minLength: 1
          maxLength: 100
          pattern: ^([0-9a-zA-Z][_-]?){1,100}$
          description: The name of the intent associated with the slot in the discrepancy report.
        slotName:
          type: string
          minLength: 1
          maxLength: 100
          pattern: ^([0-9a-zA-Z][_-]?){1,100}$
          description: The name of the slot in the discrepancy report.
        errorMessage:
          type: string
          description: The error message for a discrepancy for an intent between the test set and the bot.
      required:
      - intentName
      - slotName
      - errorMessage
    DescribeTestSetDiscrepancyReportResponse:
      type: object
      properties:
        testSetDiscrepancyReportId:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
          description: The unique identifier of the test set discrepancy report to describe.
        testSetId:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
          description: The test set Id for the test set discrepancy report.
        creationDateTime:
          type: string
          format: date-time
          description: The time and date of creation for the test set discrepancy report.
        target:
          $ref: '#/components/schemas/TestSetDiscrepancyReportResourceTarget'
        testSetDiscrepancyReportStatus:
          type: string
          enum:
          - InProgress
          - Completed
          - Failed
          description: The status for the test set discrepancy report.
        lastUpdatedDataTime:
          type: string
          format: date-time
          description: The date and time of the last update for the test set discrepancy report.
        testSetDiscrepancyTopErrors:
          $ref: '#/components/schemas/TestSetDiscrepancyErrors'
        testSetDiscrepancyRawOutputUrl:
          type: string
          minLength: 1
          maxLength: 1024
          description: Pre-signed Amazon S3 URL to download the test set discrepancy report.
        failureReasons:
          type: array
          items:
            type: string
    ValidationException:
      type: object
      description: One of the input parameters in your request isn't valid. Check the parameters and try your request again.
      properties:
        message:
          type: string
    TestSetIntentDiscrepancyItem:
      type: object
      description: Contains information about discrepancy in an intent information between the test set and the bot.
      properties:
        intentName:
          type: string
          minLength: 1
          maxLength: 100
          pattern: ^([0-9a-zA-Z][_-]?){1,100}$
          description: The name of the intent in the discrepancy report.
        errorMessage:
          type: string
          description: The error message for a discrepancy for an intent between the test set and the bot.
      required:
      - intentName
      - errorMessage
    ResourceNotFoundException:
      type: object
      description: You asked to describe a resource that doesn't exist. Check the resource that you are requesting and try again.
      properties:
        message:
          type: string
    TestSetDiscrepancyReportResourceTarget:
      type: object
      description: Contains information about the resource used for the test set discrepancy report.
      properties:
        botAliasTarget:
          $ref: '#/components/schemas/TestSetDiscrepancyReportBotAliasTarget'
    TestSetDiscrepancyReportBotAliasTarget:
      type: object
      description: Contains information about the bot alias used for the test set discrepancy report.
      properties:
        botId:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
          description: The unique identifier for the bot alias.
        botAliasId:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^(\bTSTALIASID\b|[0-9a-zA-Z]+)$
          description: The unique identifier for the bot associated with the bot alias.
        localeId:
          type: string
          description: The unique identifier of the locale associated with the bot alias.
      required:
      - botId
      - botAliasId
      - localeId
    ThrottlingException:
      type: object
      description: Your request rate is too high. Reduce the frequency of requests.
      properties:
        retryAfterSeconds:
          type: integer
          description: The number of seconds after which the user can invoke the API again.
        message:
          type: string
    ServiceQuotaExceededException:
      type: object
      description: You have reached a quota for your bot.
      properties:
        message:
          type: string
    TestSetDiscrepancyErrors:
      type: object
      description: Contains details about the errors in the test set discrepancy report
      properties:
        intentDiscrepancies:
          type: array
          items:
            $ref: '#/components/schemas/TestSetIntentDiscrepancyItem'
        slotDiscrepancies:
          type: array
          items:
            $ref: '#/components/schemas/TestSetSlotDiscrepancyItem'
      required:
      - intentDiscrepancies
      - slotDiscrepancies
    InternalServerException:
      type: object
      description: The service encountered an unexpected condition. Try your request again.
      properties:
        message:
          type: string
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: awsSigv4
      description: AWS Signature Version 4. Sign requests with SigV4 using service name `lex` and the calling region.
