openapi: 3.2.0
info:
  title: Amazon Lex Model Building V2 Tags API
  description: Amazon Lex V2 Model Building operations let you build and manage conversational bots — bots, aliases, locales, intents, slots, slot types, custom vocabularies, imports/exports, test sets and analytics. Derived mechanically from the AWS-published Smithy 2.0 service model (aws/api-models-aws, models/lex-models-v2/service/2020-08-07). Requests are signed with AWS Signature Version 4 using service name lex.
  version: '2020-08-07'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-generated-from: AWS Smithy 2.0 service model (https://github.com/aws/api-models-aws) — mechanical transform, no hand-authored operations
servers:
- url: https://models-v2-lex.us-east-1.amazonaws.com
  description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
security:
- sigv4: []
tags:
- name: Tags
paths:
  /tags/{resourceARN}:
    get:
      operationId: ListTagsForResource
      summary: Gets a list of tags associated with a resource
      description: Gets a list of tags associated with a resource. Only bots, bot aliases, and bot channels can have tags associated with them.
      tags:
      - Tags
      parameters:
      - name: resourceARN
        in: path
        required: true
        description: The Amazon Resource Name (ARN) of the resource to get a list of tags for.
        schema:
          type: string
          minLength: 1
          maxLength: 1011
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTagsForResourceResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '404':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    post:
      operationId: TagResource
      summary: Adds the specified tags to the specified resource
      description: Adds the specified tags to the specified resource. If a tag key already exists, the existing value is replaced with the new value.
      tags:
      - Tags
      parameters:
      - name: resourceARN
        in: path
        required: true
        description: The Amazon Resource Name (ARN) of the bot, bot alias, or bot channel to tag.
        schema:
          type: string
          minLength: 1
          maxLength: 1011
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                    minLength: 0
                    maxLength: 256
              required:
              - tags
      responses:
        '200':
          description: Success
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '404':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    delete:
      operationId: UntagResource
      summary: Removes tags from a bot, bot alias, or bot channel
      description: Removes tags from a bot, bot alias, or bot channel.
      tags:
      - Tags
      parameters:
      - name: resourceARN
        in: path
        required: true
        description: The Amazon Resource Name (ARN) of the resource to remove the tags from.
        schema:
          type: string
          minLength: 1
          maxLength: 1011
      - name: tagKeys
        in: query
        required: true
        description: A list of tag keys to remove from the resource. If a tag key does not exist on the resource, it is ignored.
        schema:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 128
      responses:
        '200':
          description: Success
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '404':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
components:
  schemas:
    ListTagsForResourceResponse:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
            minLength: 0
            maxLength: 256
    ThrottlingException:
      type: object
      description: Your request rate is too high. Reduce the frequency of requests.
      properties:
        retryAfterSeconds:
          type: integer
          description: The number of seconds after which the user can invoke the API again.
        message:
          type: string
    ValidationException:
      type: object
      description: One of the input parameters in your request isn't valid. Check the parameters and try your request again.
      properties:
        message:
          type: string
    InternalServerException:
      type: object
      description: The service encountered an unexpected condition. Try your request again.
      properties:
        message:
          type: string
    ResourceNotFoundException:
      type: object
      description: You asked to describe a resource that doesn't exist. Check the resource that you are requesting and try again.
      properties:
        message:
          type: string
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: awsSigv4
      description: AWS Signature Version 4. Sign requests with SigV4 using service name `lex` and the calling region.
