openapi: 3.2.0
info:
  title: Amazon Lex Model Building V2 Testsetgenerations API
  description: Amazon Lex V2 Model Building operations let you build and manage conversational bots — bots, aliases, locales, intents, slots, slot types, custom vocabularies, imports/exports, test sets and analytics. Derived mechanically from the AWS-published Smithy 2.0 service model (aws/api-models-aws, models/lex-models-v2/service/2020-08-07). Requests are signed with AWS Signature Version 4 using service name lex.
  version: '2020-08-07'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-generated-from: AWS Smithy 2.0 service model (https://github.com/aws/api-models-aws) — mechanical transform, no hand-authored operations
servers:
- url: https://models-v2-lex.us-east-1.amazonaws.com
  description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
security:
- sigv4: []
tags:
- name: testsetgenerations
paths:
  /testsetgenerations:
    put:
      operationId: StartTestSetGeneration
      summary: The action to start the generation of test set
      description: The action to start the generation of test set.
      tags:
      - testsetgenerations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                testSetName:
                  type: string
                  minLength: 1
                  maxLength: 100
                  pattern: ^([0-9a-zA-Z][_-]?){1,100}$
                  description: The test set name for the test set generation request.
                description:
                  type: string
                  minLength: 0
                  maxLength: 2000
                  description: The test set description for the test set generation request.
                storageLocation:
                  $ref: '#/components/schemas/TestSetStorageLocation'
                generationDataSource:
                  $ref: '#/components/schemas/TestSetGenerationDataSource'
                roleArn:
                  type: string
                  minLength: 32
                  maxLength: 2048
                  pattern: ^arn:aws:iam::[0-9]{12}:role/.*$
                  description: The roleARN used for any operation in the test set to access resources in the Amazon Web Services account.
                testSetTags:
                  type: object
                  additionalProperties:
                    type: string
                    minLength: 0
                    maxLength: 256
              required:
              - testSetName
              - storageLocation
              - generationDataSource
              - roleArn
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartTestSetGenerationResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '404':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '409':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
  /testsetgenerations/{testSetGenerationId}:
    get:
      operationId: DescribeTestSetGeneration
      summary: Gets metadata information about the test set generation
      description: Gets metadata information about the test set generation.
      tags:
      - testsetgenerations
      parameters:
      - name: testSetGenerationId
        in: path
        required: true
        description: The unique identifier of the test set generation.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeTestSetGenerationResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '404':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
components:
  schemas:
    ValidationException:
      type: object
      description: One of the input parameters in your request isn't valid. Check the parameters and try your request again.
      properties:
        message:
          type: string
    ConflictException:
      type: object
      description: The action that you tried to perform couldn't be completed because the resource is in a conflicting state. For example, deleting a bot that is in the CREATING state. Try your request again.
      properties:
        message:
          type: string
    StartTestSetGenerationResponse:
      type: object
      properties:
        testSetGenerationId:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
          description: The unique identifier of the test set generation to describe.
        creationDateTime:
          type: string
          format: date-time
          description: The creation date and time for the test set generation.
        testSetGenerationStatus:
          type: string
          enum:
          - Generating
          - Ready
          - Failed
          - Pending
          description: The status for the test set generation.
        testSetName:
          type: string
          minLength: 1
          maxLength: 100
          pattern: ^([0-9a-zA-Z][_-]?){1,100}$
          description: The test set name used for the test set generation.
        description:
          type: string
          minLength: 0
          maxLength: 2000
          description: The description used for the test set generation.
        storageLocation:
          $ref: '#/components/schemas/TestSetStorageLocation'
        generationDataSource:
          $ref: '#/components/schemas/TestSetGenerationDataSource'
        roleArn:
          type: string
          minLength: 32
          maxLength: 2048
          pattern: ^arn:aws:iam::[0-9]{12}:role/.*$
          description: The roleARN used for any operation in the test set to access resources in the Amazon Web Services account.
        testSetTags:
          type: object
          additionalProperties:
            type: string
            minLength: 0
            maxLength: 256
    ConversationLogsDataSource:
      type: object
      description: The data source that uses conversation logs.
      properties:
        botId:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
          description: The bot Id from the conversation logs.
        botAliasId:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^(\bTSTALIASID\b|[0-9a-zA-Z]+)$
          description: The bot alias Id from the conversation logs.
        localeId:
          type: string
          description: The locale Id of the conversation log.
        filter:
          $ref: '#/components/schemas/ConversationLogsDataSourceFilterBy'
      required:
      - botId
      - botAliasId
      - localeId
      - filter
    ThrottlingException:
      type: object
      description: Your request rate is too high. Reduce the frequency of requests.
      properties:
        retryAfterSeconds:
          type: integer
          description: The number of seconds after which the user can invoke the API again.
        message:
          type: string
    ResourceNotFoundException:
      type: object
      description: You asked to describe a resource that doesn't exist. Check the resource that you are requesting and try again.
      properties:
        message:
          type: string
    ServiceQuotaExceededException:
      type: object
      description: You have reached a quota for your bot.
      properties:
        message:
          type: string
    TestSetGenerationDataSource:
      type: object
      description: Contains information about the data source from which the test set is generated.
      properties:
        conversationLogsDataSource:
          $ref: '#/components/schemas/ConversationLogsDataSource'
    TestSetStorageLocation:
      type: object
      description: Contains information about the location in which the test set is stored.
      properties:
        s3BucketName:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-z0-9][\.\-a-z0-9]{1,61}[a-z0-9]$
          description: The name of the Amazon S3 bucket in which the test set is stored.
        s3Path:
          type: string
          minLength: 1
          maxLength: 1024
          pattern: ^[\.\-\!\*\_\'\(\)a-zA-Z0-9][\.\-\!\*\_\'\(\)\/a-zA-Z0-9]*$
          description: The path inside the Amazon S3 bucket where the test set is stored.
        kmsKeyArn:
          type: string
          minLength: 20
          maxLength: 2048
          pattern: ^arn:[\w\-]+:kms:[\w\-]+:[\d]{12}:(?:key\/[\w\-]+|alias\/[a-zA-Z0-9:\/_\-]{1,256})$
          description: The Amazon Resource Name (ARN) of an Amazon Web Services Key Management Service (KMS) key for encrypting the test set.
      required:
      - s3BucketName
      - s3Path
    ConversationLogsDataSourceFilterBy:
      type: object
      description: The selected data source to filter the conversation log.
      properties:
        startTime:
          type: string
          format: date-time
          description: The start time for the conversation log.
        endTime:
          type: string
          format: date-time
          description: The end time for the conversation log.
        inputMode:
          type: string
          enum:
          - Speech
          - Text
          description: The selection to filter by input mode for the conversation logs.
      required:
      - startTime
      - endTime
      - inputMode
    DescribeTestSetGenerationResponse:
      type: object
      properties:
        testSetGenerationId:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
          description: The unique identifier of the test set generation.
        testSetGenerationStatus:
          type: string
          enum:
          - Generating
          - Ready
          - Failed
          - Pending
          description: The status for the test set generation.
        failureReasons:
          type: array
          items:
            type: string
        testSetId:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
          description: The unique identifier for the test set created for the generated test set.
        testSetName:
          type: string
          minLength: 1
          maxLength: 100
          pattern: ^([0-9a-zA-Z][_-]?){1,100}$
          description: The test set name for the generated test set.
        description:
          type: string
          minLength: 0
          maxLength: 2000
          description: The test set description for the test set generation.
        storageLocation:
          $ref: '#/components/schemas/TestSetStorageLocation'
        generationDataSource:
          $ref: '#/components/schemas/TestSetGenerationDataSource'
        roleArn:
          type: string
          minLength: 32
          maxLength: 2048
          pattern: ^arn:aws:iam::[0-9]{12}:role/.*$
          description: The roleARN of the test set used for the test set generation.
        creationDateTime:
          type: string
          format: date-time
          description: The creation date and time for the test set generation.
        lastUpdatedDateTime:
          type: string
          format: date-time
          description: The date and time of the last update for the test set generation.
    InternalServerException:
      type: object
      description: The service encountered an unexpected condition. Try your request again.
      properties:
        message:
          type: string
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: awsSigv4
      description: AWS Signature Version 4. Sign requests with SigV4 using service name `lex` and the calling region.
