openapi: 3.2.0
info:
  title: Amazon Lex Bots API
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-refined-note:
  - x-generated-from differs across the merged source definitions and was not carried
  - x-logo differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Bots across 3 of this provider''s published API definitions: amazon-lex-openapi.yml, amazon-lex-models-v2-openapi.yml, amazon-lex-runtime-v2-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://models-v2-lex.us-east-1.amazonaws.com
  description: Amazon Lex endpoint
- url: https://runtime-v2-lex.us-east-1.amazonaws.com
  description: Amazon Lex V2 Runtime endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
security:
- sigv4: []
tags:
- name: Bots
  description: Lex bot management
paths:
  /bots:
    post:
      operationId: CreateBot
      summary: Amazon Lex Create Bot
      description: Creates an Amazon Lex conversational bot.
      tags:
      - Bots
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: ListBots
      summary: Amazon Lex List Bots
      description: Gets a list of available bots.
      tags:
      - Bots
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: putBots
      summary: Creates an Amazon Lex conversational bot
      description: Creates an Amazon Lex conversational bot.
      tags:
      - Bots
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                botName:
                  type: string
                  minLength: 1
                  maxLength: 100
                  pattern: ^([0-9a-zA-Z][_-]?){1,100}$
                  description: The name of the bot. The bot name must be unique in the account that creates the bot.
                description:
                  type: string
                  minLength: 0
                  maxLength: 2000
                  description: A description of the bot. It appears in lists to help you identify a particular bot.
                roleArn:
                  type: string
                  minLength: 32
                  maxLength: 2048
                  pattern: ^arn:aws:iam::[0-9]{12}:role/.*$
                  description: The Amazon Resource Name (ARN) of an IAM role that has permission to access the bot.
                dataPrivacy:
                  $ref: '#/components/schemas/DataPrivacy'
                idleSessionTTLInSeconds:
                  type: integer
                  minimum: 60
                  maximum: 86400
                  description: The time, in seconds, that Amazon Lex should keep information about a user's conversation with the bot. A user interaction remains active for the amount of time specified. If no conversation occurs during this time, the session expires and Amazon Lex deletes any data provided before the timeout. You can specify between 60 (1 minute) and 86,400 (24 hours) seconds.
                botTags:
                  type: object
                  additionalProperties:
                    type: string
                    minLength: 0
                    maxLength: 256
                testBotAliasTags:
                  type: object
                  additionalProperties:
                    type: string
                    minLength: 0
                    maxLength: 256
                botType:
                  type: string
                  enum:
                  - Bot
                  - BotNetwork
                  description: The type of a bot to create.
                botMembers:
                  type: array
                  items:
                    $ref: '#/components/schemas/BotMember'
                errorLogSettings:
                  $ref: '#/components/schemas/ErrorLogSettings'
              required:
              - botName
              - roleArn
              - dataPrivacy
              - idleSessionTTLInSeconds
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBotResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '409':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '412':
          description: PreconditionFailedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
      x-operation-id-source: normalized
      x-operation-id-original: CreateBot
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex endpoint
  /bots/{botId}:
    get:
      operationId: DescribeBot
      summary: Amazon Lex Describe Bot
      description: Provides metadata information about a bot.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of the bot.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: UpdateBot
      summary: Amazon Lex Update Bot
      description: Updates the configuration of an existing bot.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of the bot.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: DeleteBot
      summary: Amazon Lex Delete Bot
      description: Deletes all versions of a bot, including the Draft version.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of the bot.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex endpoint
  /bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents:
    post:
      operationId: CreateIntent
      summary: Amazon Lex Create Intent
      description: Creates an intent.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        schema:
          type: string
        description: The identifier of the bot.
      - name: botVersion
        in: path
        required: true
        schema:
          type: string
        description: The version of the bot.
      - name: localeId
        in: path
        required: true
        schema:
          type: string
        description: The locale of the bot.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: ListIntents
      summary: Amazon Lex List Intents
      description: Returns a list of the intents in the specified bot locale.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        schema:
          type: string
        description: The identifier of the bot.
      - name: botVersion
        in: path
        required: true
        schema:
          type: string
        description: The version of the bot.
      - name: localeId
        in: path
        required: true
        schema:
          type: string
        description: The locale of the bot.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: putBotsByBotIdBotversionsByBotVersionBotlocalesByLocaleIdIntents
      summary: Creates an intent
      description: 'Creates an intent. To define the interaction between the user and your bot, you define one or more intents. For example, for a pizza ordering bot you would create an OrderPizza intent. When you create an intent, you must provide a name. You can optionally provide the following: Sample utterances. For example, "I want to order a pizza" and "Can I order a pizza." You can''t provide utterances for built-in intents. Information to be gathered. You specify slots for the information that you bot requests from the user. You can specify standard slot types, such as date and time, or custom slot types for your application. How the intent is fulfilled. You can provide a Lambda function or configure the intent to return the intent information to your client application. If you use a Lambda function, Amazon Lex invokes the function when all of the intent information is available. A confirmation prompt to send to the user to confirm an intent. For example, "Shall I order your pizza?" A conclusion statement to send to the user after the intent is fulfilled. For example, "I ordered your pizza." A follow-up prompt that asks the user for additional activity. For example, "Do you want a drink with your pizza?"'
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The identifier of the bot associated with this intent.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      - name: botVersion
        in: path
        required: true
        description: The version of the bot associated with this intent.
        schema:
          type: string
          minLength: 5
          maxLength: 5
          pattern: ^DRAFT$
      - name: localeId
        in: path
        required: true
        description: The identifier of the language and locale where this intent is used. All of the bots, slot types, and slots used by the intent must have the same locale. For more information, see Supported languages.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                intentName:
                  type: string
                  minLength: 1
                  maxLength: 100
                  pattern: ^([0-9a-zA-Z][_-]?){1,100}$
                  description: The name of the intent. Intent names must be unique in the locale that contains the intent and cannot match the name of any built-in intent.
                intentDisplayName:
                  type: string
                  minLength: 1
                  maxLength: 100
                  description: A display name for the intent. If configured, This name will be shown to users during Intent Disambiguation instead of the intent name. Display names should be user-friendly, descriptive and match the intent's purpose to improve user experience during disambiguation.
                description:
                  type: string
                  minLength: 0
                  maxLength: 2000
                  description: A description of the intent. Use the description to help identify the intent in lists.
                parentIntentSignature:
                  type: string
                  description: A unique identifier for the built-in intent to base this intent on.
                sampleUtterances:
                  type: array
                  items:
                    $ref: '#/components/schemas/SampleUtterance'
                dialogCodeHook:
                  $ref: '#/components/schemas/DialogCodeHookSettings'
                fulfillmentCodeHook:
                  $ref: '#/components/schemas/FulfillmentCodeHookSettings'
                intentConfirmationSetting:
                  $ref: '#/components/schemas/IntentConfirmationSetting'
                intentClosingSetting:
                  $ref: '#/components/schemas/IntentClosingSetting'
                inputContexts:
                  type: array
                  items:
                    $ref: '#/components/schemas/InputContext'
                outputContexts:
                  type: array
                  items:
                    $ref: '#/components/schemas/OutputContext'
                kendraConfiguration:
                  $ref: '#/components/schemas/KendraConfiguration'
                initialResponseSetting:
                  $ref: '#/components/schemas/InitialResponseSetting'
                qnAIntentConfiguration:
                  $ref: '#/components/schemas/QnAIntentConfiguration'
                qInConnectIntentConfiguration:
                  $ref: '#/components/schemas/QInConnectIntentConfiguration'
              required:
              - intentName
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateIntentResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '409':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '412':
          description: PreconditionFailedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
      x-operation-id-source: normalized
      x-operation-id-original: CreateIntent
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex endpoint
  /bots/{botId}/aggregatedutterances:
    post:
      operationId: ListAggregatedUtterances
      summary: Provides a list of utterances that users have sent to the bot
      description: 'Provides a list of utterances that users have sent to the bot. Utterances are aggregated by the text of the utterance. For example, all instances where customers used the phrase "I want to order pizza" are aggregated into the same line in the response. You can see both detected utterances and missed utterances. A detected utterance is where the bot properly recognized the utterance and activated the associated intent. A missed utterance was not recognized by the bot and didn''t activate an intent. Utterances can be aggregated for a bot alias or for a bot version, but not both at the same time. Utterances statistics are not generated under the following conditions: The childDirected field was set to true when the bot was created. You are using slot obfuscation with one or more slots. You opted out of participating in improving Amazon Lex.'
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The unique identifier of the bot associated with this request.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                botAliasId:
                  type: string
                  minLength: 10
                  maxLength: 10
                  pattern: ^(\bTSTALIASID\b|[0-9a-zA-Z]+)$
                  description: The identifier of the bot alias associated with this request. If you specify the bot alias, you can't specify the bot version.
                botVersion:
                  type: string
                  minLength: 1
                  maxLength: 5
                  pattern: ^(DRAFT|[0-9]+)$
                  description: The identifier of the bot version associated with this request. If you specify the bot version, you can't specify the bot alias.
                localeId:
                  type: string
                  description: The identifier of the language and locale where the utterances were collected. For more information, see Supported languages.
                aggregationDuration:
                  $ref: '#/components/schemas/UtteranceAggregationDuration'
                sortBy:
                  $ref: '#/components/schemas/AggregatedUtterancesSortBy'
                filters:
                  type: array
                  items:
                    $ref: '#/components/schemas/AggregatedUtterancesFilter'
                maxResults:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  description: The maximum number of utterances to return in each page of results. If there are fewer results than the maximum page size, only the actual number of results are returned. If you don't specify the maxResults parameter, 1,000 results are returned.
                nextToken:
                  type: string
                  description: If the response from the ListAggregatedUtterances operation contains more results that specified in the maxResults parameter, a token is returned in the response. Use that token in the nextToken parameter to return the next page of results.
              required:
              - localeId
              - aggregationDuration
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAggregatedUtterancesResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '412':
          description: PreconditionFailedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
  /bots/{botId}/analytics/intentmetrics:
    post:
      operationId: ListIntentMetrics
      summary: Retrieves summary metrics for the intents in your bot
      description: 'Retrieves summary metrics for the intents in your bot. The following fields are required: metrics – A list of AnalyticsIntentMetric objects. In each object, use the name field to specify the metric to calculate, the statistic field to specify whether to calculate the Sum, Average, or Max number, and the order field to specify whether to sort the results in Ascending or Descending order. startDateTime and endDateTime – Define a time range for which you want to retrieve results. Of the optional fields, you can organize the results in the following ways: Use the filters field to filter the results, the groupBy field to specify categories by which to group the results, and the binBy field to specify time intervals by which to group the results. Use the maxResults field to limit the number of results to return in a single response and the nextToken field to return the next batch of results if the response does not return the full set of results. Note that an order field exists in both binBy and metrics. You can specify only one order in a given request.'
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The identifier for the bot for which you want to retrieve intent metrics.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                startDateTime:
                  type: string
                  format: date-time
                  description: The timestamp that marks the beginning of the range of time for which you want to see intent metrics.
                endDateTime:
                  type: string
                  format: date-time
                  description: The date and time that marks the end of the range of time for which you want to see intent metrics.
                metrics:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsIntentMetric'
                binBy:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsBinBySpecification'
                groupBy:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsIntentGroupBySpecification'
                filters:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsIntentFilter'
                maxResults:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  description: The maximum number of results to return in each page of results. If there are fewer results than the maximum page size, only the actual number of results are returned.
                nextToken:
                  type: string
                  description: If the response from the ListIntentMetrics operation contains more results than specified in the maxResults parameter, a token is returned in the response. Use the returned token in the nextToken parameter of a ListIntentMetrics request to return the next page of results. For a complete set of results, call the ListIntentMetrics operation until the nextToken returned in the response is null.
              required:
              - startDateTime
              - endDateTime
              - metrics
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIntentMetricsResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '412':
          description: PreconditionFailedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
  /bots/{botId}/analytics/intentpaths:
    post:
      operationId: ListIntentPaths
      summary: Retrieves summary statistics for a path of intents that users take over…
      description: 'Retrieves summary statistics for a path of intents that users take over sessions with your bot. The following fields are required: startDateTime and endDateTime – Define a time range for which you want to retrieve results. intentPath – Define an order of intents for which you want to retrieve metrics. Separate intents in the path with a forward slash. For example, populate the intentPath field with /BookCar/BookHotel to see details about how many times users invoked the BookCar and BookHotel intents in that order. Use the optional filters field to filter the results.'
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The identifier for the bot for which you want to retrieve intent path metrics.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                startDateTime:
                  type: string
                  format: date-time
                  description: The date and time that marks the beginning of the range of time for which you want to see intent path metrics.
                endDateTime:
                  type: string
                  format: date-time
                  description: The date and time that marks the end of the range of time for which you want to see intent path metrics.
                intentPath:
                  type: string
                  minLength: 1
                  maxLength: 1024
                  description: 'The intent path for which you want to retrieve metrics. Use a forward slash to separate intents in the path. For example: /BookCar /BookCar/BookHotel /BookHotel/BookCar'
                filters:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsPathFilter'
              required:
              - startDateTime
              - endDateTime
              - intentPath
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIntentPathsResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '412':
          description: PreconditionFailedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
  /bots/{botId}/analytics/intentstagemetrics:
    post:
      operationId: ListIntentStageMetrics
      summary: Retrieves summary metrics for the stages within intents in your bot
      description: 'Retrieves summary metrics for the stages within intents in your bot. The following fields are required: metrics – A list of AnalyticsIntentStageMetric objects. In each object, use the name field to specify the metric to calculate, the statistic field to specify whether to calculate the Sum, Average, or Max number, and the order field to specify whether to sort the results in Ascending or Descending order. startDateTime and endDateTime – Define a time range for which you want to retrieve results. Of the optional fields, you can organize the results in the following ways: Use the filters field to filter the results, the groupBy field to specify categories by which to group the results, and the binBy field to specify time intervals by which to group the results. Use the maxResults field to limit the number of results to return in a single response and the nextToken field to return the next batch of results if the response does not return the full set of results. Note that an order field exists in both binBy and metrics. You can only specify one order in a given request.'
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The identifier for the bot for which you want to retrieve intent stage metrics.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                startDateTime:
                  type: string
                  format: date-time
                  description: The date and time that marks the beginning of the range of time for which you want to see intent stage metrics.
                endDateTime:
                  type: string
                  format: date-time
                  description: The date and time that marks the end of the range of time for which you want to see intent stage metrics.
                metrics:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsIntentStageMetric'
                binBy:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsBinBySpecification'
                groupBy:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsIntentStageGroupBySpecification'
                filters:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsIntentStageFilter'
                maxResults:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  description: The maximum number of results to return in each page of results. If there are fewer results than the maximum page size, only the actual number of results are returned.
                nextToken:
                  type: string
                  description: If the response from the ListIntentStageMetrics operation contains more results than specified in the maxResults parameter, a token is returned in the response. Use the returned token in the nextToken parameter of a ListIntentStageMetrics request to return the next page of results. For a complete set of results, call the ListIntentStageMetrics operation until the nextToken returned in the response is null.
              required:
              - startDateTime
              - endDateTime
              - metrics
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIntentStageMetricsResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '412':
          description: PreconditionFailedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
  /bots/{botId}/analytics/sessionmetrics:
    post:
      operationId: ListSessionMetrics
      summary: Retrieves summary metrics for the user sessions with your bot
      description: 'Retrieves summary metrics for the user sessions with your bot. The following fields are required: metrics – A list of AnalyticsSessionMetric objects. In each object, use the name field to specify the metric to calculate, the statistic field to specify whether to calculate the Sum, Average, or Max number, and the order field to specify whether to sort the results in Ascending or Descending order. startDateTime and endDateTime – Define a time range for which you want to retrieve results. Of the optional fields, you can organize the results in the following ways: Use the filters field to filter the results, the groupBy field to specify categories by which to group the results, and the binBy field to specify time intervals by which to group the results. Use the maxResults field to limit the number of results to return in a single response and the nextToken field to return the next batch of results if the response does not return the full set of results. Note that an order field exists in both binBy and metrics. Currently, you can specify it in either field, but not in both.'
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The identifier for the bot for which you want to retrieve session metrics.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                startDateTime:
                  type: string
                  format: date-time
                  description: The date and time that marks the beginning of the range of time for which you want to see session metrics.
                endDateTime:
                  type: string
                  format: date-time
                  description: The date and time that marks the end of the range of time for which you want to see session metrics.
                metrics:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsSessionMetric'
                binBy:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsBinBySpecification'
                groupBy:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsSessionGroupBySpecification'
                filters:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsSessionFilter'
                maxResults:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  description: The maximum number of results to return in each page of results. If there are fewer results than the maximum page size, only the actual number of results are returned.
                nextToken:
                  type: string
                  description: If the response from the ListSessionMetrics operation contains more results than specified in the maxResults parameter, a token is returned in the response. Use the returned token in the nextToken parameter of a ListSessionMetrics request to return the next page of results. For a complete set of results, call the ListSessionMetrics operation until the nextToken returned in the response is null.
              required:
              - startDateTime
              - endDateTime
              - metrics
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSessionMetricsResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '412':
          description: PreconditionFailedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
  /bots/{botId}/analytics/sessions:
    post:
      operationId: ListSessionAnalyticsData
      summary: Retrieves a list of metadata for individual user sessions with your bot
      description: 'Retrieves a list of metadata for individual user sessions with your bot. The startDateTime and endDateTime fields are required. These fields define a time range for which you want to retrieve results. Of the optional fields, you can organize the results in the following ways: Use the filters field to filter the results and the sortBy field to specify the values by which to sort the results. Use the maxResults field to limit the number of results to return in a single response and the nextToken field to return the next batch of results if the response does not return the full set of results.'
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The identifier for the bot for which you want to retrieve session analytics.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                startDateTime:
                  type: string
                  format: date-time
                  description: The date and time that marks the beginning of the range of time for which you want to see session analytics.
                endDateTime:
                  type: string
                  format: date-time
                  description: The date and time that marks the end of the range of time for which you want to see session analytics.
                sortBy:
                  $ref: '#/components/schemas/SessionDataSortBy'
                filters:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsSessionFilter'
                maxResults:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  description: The maximum number of results to return in each page of results. If there are fewer results than the maximum page size, only the actual number of results are returned.
                nextToken:
                  type: string
                  description: If the response from the ListSessionAnalyticsData operation contains more results than specified in the maxResults parameter, a token is returned in the response. Use the returned token in the nextToken parameter of a ListSessionAnalyticsData request to return the next page of results. For a complete set of results, call the ListSessionAnalyticsData operation until the nextToken returned in the response is null.
              required:
              - startDateTime
              - endDateTime
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSessionAnalyticsDataResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '412':
          description: PreconditionFailedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
  /bots/{botId}/analytics/utterancemetrics:
    post:
      operationId: ListUtteranceMetrics
      summary: To use this API operation, your IAM role must have permissions to perform the…
      description: 'To use this API operation, your IAM role must have permissions to perform the ListAggregatedUtterances operation, which provides access to utterance-related analytics. See Viewing utterance statistics for the IAM policy to apply to the IAM role. Retrieves summary metrics for the utterances in your bot. The following fields are required: metrics – A list of AnalyticsUtteranceMetric objects. In each object, use the name field to specify the metric to calculate, the statistic field to specify whether to calculate the Sum, Average, or Max number, and the order field to specify whether to sort the results in Ascending or Descending order. startDateTime and endDateTime – Define a time range for which you want to retrieve results. Of the optional fields, you can organize the results in the following ways: Use the filters field to filter the results, the groupBy field to specify categories by which to group the results, and the binBy field to specify time intervals by which to group the results. Use the maxResults field to limit the number of results to return in a single response and the nextToken field to return the next batch of results if the response does not return the full set of results. Note that an order field exists in both binBy and metrics. Currently, you can specify it in either field, but not in both.'
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The identifier for the bot for which you want to retrieve utterance metrics.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                startDateTime:
                  type: string
                  format: date-time
                  description: The date and time that marks the beginning of the range of time for which you want to see utterance metrics.
                endDateTime:
                  type: string
                  format: date-time
                  description: The date and time that marks the end of the range of time for which you want to see utterance metrics.
                metrics:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsUtteranceMetric'
                binBy:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsBinBySpecification'
                groupBy:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsUtteranceGroupBySpecification'
                attributes:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsUtteranceAttribute'
                filters:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsUtteranceFilter'
                maxResults:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  description: The maximum number of results to return in each page of results. If there are fewer results than the maximum page size, only the actual number of results are returned.
                nextToken:
                  type: string
                  description: If the response from the ListUtteranceMetrics operation contains more results than specified in the maxResults parameter, a token is returned in the response. Use the returned token in the nextToken parameter of a ListUtteranceMetrics request to return the next page of results. For a complete set of results, call the ListUtteranceMetrics operation until the nextToken returned in the response is null.
              required:
              - startDateTime
              - endDateTime
              - metrics
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUtteranceMetricsResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '412':
          description: PreconditionFailedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
  /bots/{botId}/analytics/utterances:
    post:
      operationId: ListUtteranceAnalyticsData
      summary: To use this API operation, your IAM role must have permissions to perform the…
      description: 'To use this API operation, your IAM role must have permissions to perform the ListAggregatedUtterances operation, which provides access to utterance-related analytics. See Viewing utterance statistics for the IAM policy to apply to the IAM role. Retrieves a list of metadata for individual user utterances to your bot. The following fields are required: startDateTime and endDateTime – Define a time range for which you want to retrieve results. Of the optional fields, you can organize the results in the following ways: Use the filters field to filter the results and the sortBy field to specify the values by which to sort the results. Use the maxResults field to limit the number of results to return in a single response and the nextToken field to return the next batch of results if the response does not return the full set of results.'
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The identifier for the bot for which you want to retrieve utterance analytics.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                startDateTime:
                  type: string
                  format: date-time
                  description: The date and time that marks the beginning of the range of time for which you want to see utterance analytics.
                endDateTime:
                  type: string
                  format: date-time
                  description: The date and time that marks the end of the range of time for which you want to see utterance analytics.
                sortBy:
                  $ref: '#/components/schemas/UtteranceDataSortBy'
                filters:
                  type: array
                  items:
                    $ref: '#/components/schemas/AnalyticsUtteranceFilter'
                maxResults:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  description: The maximum number of results to return in each page of results. If there are fewer results than the maximum page size, only the actual number of results are returned.
                nextToken:
                  type: string
                  description: If the response from the ListUtteranceAnalyticsData operation contains more results than specified in the maxResults parameter, a token is returned in the response. Use the returned token in the nextToken parameter of a ListUtteranceAnalyticsData request to return the next page of results. For a complete set of results, call the ListUtteranceAnalyticsData operation until the nextToken returned in the response is null.
              required:
              - startDateTime
              - endDateTime
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUtteranceAnalyticsDataResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '412':
          description: PreconditionFailedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
  /bots/{botId}/botaliases:
    put:
      operationId: CreateBotAlias
      summary: Creates an alias for the specified version of a bot
      description: Creates an alias for the specified version of a bot. Use an alias to enable you to change the version of a bot without updating applications that use the bot. For example, you can create an alias called "PROD" that your applications use to call the Amazon Lex bot.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The unique identifier of the bot that the alias applies to.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                botAliasName:
                  type: string
                  minLength: 1
                  maxLength: 100
                  pattern: ^([0-9a-zA-Z][_-]?){1,100}$
                  description: The alias to create. The name must be unique for the bot.
                description:
                  type: string
                  minLength: 0
                  maxLength: 2000
                  description: A description of the alias. Use this description to help identify the alias.
                botVersion:
                  type: string
                  minLength: 1
                  maxLength: 5
                  pattern: ^[0-9]+$
                  description: The version of the bot that this alias points to. You can use the UpdateBotAlias operation to change the bot version associated with the alias.
                botAliasLocaleSettings:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/BotAliasLocaleSettings'
                conversationLogSettings:
                  $ref: '#/components/schemas/ConversationLogSettings'
                sentimentAnalysisSettings:
                  $ref: '#/components/schemas/SentimentAnalysisSettings'
                tags:
                  type: object
                  additionalProperties:
                    type: string
                    minLength: 0
                    maxLength: 256
              required:
              - botAliasName
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBotAliasResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '409':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '412':
          description: PreconditionFailedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    post:
      operationId: ListBotAliases
      summary: Gets a list of aliases for the specified bot
      description: Gets a list of aliases for the specified bot.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The identifier of the bot to list aliases for.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                maxResults:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  description: The maximum number of aliases to return in each page of results. If there are fewer results than the max page size, only the actual number of results are returned.
                nextToken:
                  type: string
                  description: If the response from the ListBotAliases operation contains more results than specified in the maxResults parameter, a token is returned in the response. Use that token in the nextToken parameter to return the next page of results.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBotAliasesResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
  /bots/{botId}/botaliases/{botAliasId}:
    delete:
      operationId: DeleteBotAlias
      summary: Deletes the specified bot alias
      description: Deletes the specified bot alias.
      tags:
      - Bots
      parameters:
      - name: botAliasId
        in: path
        required: true
        description: The unique identifier of the bot alias to delete.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^(\bTSTALIASID\b|[0-9a-zA-Z]+)$
      - name: botId
        in: path
        required: true
        description: The unique identifier of the bot associated with the alias to delete.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      - name: skipResourceInUseCheck
        in: query
        required: false
        description: By default, Amazon Lex checks if any other resource, such as a bot network, is using the bot alias before it is deleted and throws a ResourceInUseException exception if the alias is being used by another resource. Set this parameter to true to skip this check and remove the alias even if it is being used by another resource.
        schema:
          type: boolean
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBotAliasResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '409':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '412':
          description: PreconditionFailedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    get:
      operationId: DescribeBotAlias
      summary: Get information about a specific bot alias
      description: Get information about a specific bot alias.
      tags:
      - Bots
      parameters:
      - name: botAliasId
        in: path
        required: true
        description: The identifier of the bot alias to describe.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^(\bTSTALIASID\b|[0-9a-zA-Z]+)$
      - name: botId
        in: path
        required: true
        description: The identifier of the bot associated with the bot alias to describe.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeBotAliasResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '404':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    put:
      operationId: UpdateBotAlias
      summary: Updates the configuration of an existing bot alias
      description: Updates the configuration of an existing bot alias.
      tags:
      - Bots
      parameters:
      - name: botAliasId
        in: path
        required: true
        description: The unique identifier of the bot alias.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^(\bTSTALIASID\b|[0-9a-zA-Z]+)$
      - name: botId
        in: path
        required: true
        description: The identifier of the bot with the updated alias.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                botAliasName:
                  type: string
                  minLength: 1
                  maxLength: 100
                  pattern: ^([0-9a-zA-Z][_-]?){1,100}$
                  description: The new name to assign to the bot alias.
                description:
                  type: string
                  minLength: 0
                  maxLength: 2000
                  description: The new description to assign to the bot alias.
                botVersion:
                  type: string
                  minLength: 1
                  maxLength: 5
                  pattern: ^(DRAFT|[0-9]+)$
                  description: The new bot version to assign to the bot alias.
                botAliasLocaleSettings:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/BotAliasLocaleSettings'
                conversationLogSettings:
                  $ref: '#/components/schemas/ConversationLogSettings'
                sentimentAnalysisSettings:
                  $ref: '#/components/schemas/SentimentAnalysisSettings'
              required:
              - botAliasName
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBotAliasResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '409':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '412':
          description: PreconditionFailedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
  /bots/{botId}/botanalyzer:
    post:
      operationId: StartBotAnalyzer
      summary: Initiates an asynchronous analysis of your bot configuration using AI-powered…
      description: Initiates an asynchronous analysis of your bot configuration using AI-powered analysis to identify potential issues and recommend improvements based on AWS best practices. The analysis examines your bot's configuration, including intents, utterances, slots, and conversation flows, to provide actionable recommendations for optimization.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The unique identifier of the bot to analyze.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                analysisScope:
                  type: string
                  enum:
                  - BotLocale
                  description: 'The scope of analysis to perform. Currently only BotLocale scope is supported. Valid Values: BotLocale'
                localeId:
                  type: string
                  description: The locale identifier for the bot locale to analyze. Required when analysisScope is BotLocale.
                botVersion:
                  type: string
                  minLength: 5
                  maxLength: 5
                  pattern: ^DRAFT$
                  description: The version of the bot to analyze. Defaults to DRAFT if not specified.
              required:
              - analysisScope
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartBotAnalyzerResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '404':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '409':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
  /bots/{botId}/botanalyzer/describe/{botAnalyzerRequestId}:
    post:
      operationId: DescribeBotAnalyzerRecommendation
      summary: Retrieves the analysis results and recommendations for bot optimization
      description: Retrieves the analysis results and recommendations for bot optimization. The analysis must be in Available status before recommendations can be retrieved. Recommendations are returned with pagination support. Each recommendation includes the issue location, priority level, detailed description, and proposed fix.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The unique identifier of the bot.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      - name: botAnalyzerRequestId
        in: path
        required: true
        description: The unique identifier of the analysis request.
        schema:
          type: string
          minLength: 36
          maxLength: 36
          pattern: ^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                nextToken:
                  type: string
                  description: If the response from a previous request was truncated, the nextToken value is used to retrieve the next page of recommendations.
                maxResults:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  description: The maximum number of recommendations to return in the response. The default is 5.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeBotAnalyzerRecommendationResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '404':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
  /bots/{botId}/botanalyzer/history:
    post:
      operationId: ListBotAnalyzerHistory
      summary: Retrieves a list of historical bot analysis executions for a specific bot
      description: Retrieves a list of historical bot analysis executions for a specific bot. You can filter the results by locale and bot version. The history includes all analysis executions regardless of their status, allowing you to track past analyses and their outcomes.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The unique identifier of the bot.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                localeId:
                  type: string
                  description: The locale identifier to filter the history. If not specified, returns history for all locales.
                botVersion:
                  type: string
                  minLength: 5
                  maxLength: 5
                  pattern: ^DRAFT$
                  description: The bot version to filter the history. If not specified, defaults to DRAFT.
                nextToken:
                  type: string
                  description: If the response from a previous request was truncated, the nextToken value is used to retrieve the next page of history entries.
                maxResults:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  description: The maximum number of history entries to return in the response. The default is 10.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBotAnalyzerHistoryResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '404':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
  /bots/{botId}/botanalyzer/{botAnalyzerRequestId}:
    delete:
      operationId: DeleteBotAnalyzerRecommendation
      summary: Permanently deletes the recommendations and analysis results for a specific bot…
      description: Permanently deletes the recommendations and analysis results for a specific bot analysis request. This operation is provided for GDPR compliance and cannot be undone. After deletion, the analysis results cannot be retrieved. The analysis request ID will still appear in the history list, but attempting to describe the recommendations will return a ResourceNotFoundException.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The unique identifier of the bot.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      - name: botAnalyzerRequestId
        in: path
        required: true
        description: The unique identifier of the analysis request whose recommendations should be deleted.
        schema:
          type: string
          minLength: 36
          maxLength: 36
          pattern: ^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$
      responses:
        '204':
          description: Success
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '404':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
  /bots/{botId}/botanalyzer/{botAnalyzerRequestId}/stop:
    put:
      operationId: StopBotAnalyzer
      summary: Cancels an ongoing bot analysis execution
      description: Cancels an ongoing bot analysis execution. Once stopped, the analysis cannot be resumed and no recommendations will be generated.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The unique identifier of the bot.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      - name: botAnalyzerRequestId
        in: path
        required: true
        description: The unique identifier of the analysis request to stop.
        schema:
          type: string
          minLength: 36
          maxLength: 36
          pattern: ^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopBotAnalyzerResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '404':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
  /bots/{botId}/botversions:
    put:
      operationId: CreateBotVersion
      summary: Creates an immutable version of the bot
      description: Creates an immutable version of the bot. When you create the first version of a bot, Amazon Lex sets the version number to 1. Subsequent bot versions increase in an increment of 1. The version number will always represent the total number of versions created of the bot, not the current number of versions. If a bot version is deleted, that bot version number will not be reused.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The identifier of the bot to create the version for.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  minLength: 0
                  maxLength: 2000
                  description: A description of the version. Use the description to help identify the version in lists.
                botVersionLocaleSpecification:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/BotVersionLocaleDetails'
              required:
              - botVersionLocaleSpecification
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBotVersionResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '409':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '412':
          description: PreconditionFailedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    post:
      operationId: ListBotVersions
      summary: Gets information about all of the versions of a bot
      description: Gets information about all of the versions of a bot. The ListBotVersions operation returns a summary of each version of a bot. For example, if a bot has three numbered versions, the ListBotVersions operation returns for summaries, one for each numbered version and one for the DRAFT version. The ListBotVersions operation always returns at least one version, the DRAFT version.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The identifier of the bot to list versions for.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sortBy:
                  $ref: '#/components/schemas/BotVersionSortBy'
                maxResults:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  description: The maximum number of versions to return in each page of results. If there are fewer results than the max page size, only the actual number of results are returned.
                nextToken:
                  type: string
                  description: If the response to the ListBotVersion operation contains more results than specified in the maxResults parameter, a token is returned in the response. Use that token in the nextToken parameter to return the next page of results.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBotVersionsResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
  /bots/{botId}/botversions/{botVersion}:
    delete:
      operationId: DeleteBotVersion
      summary: Deletes a specific version of a bot
      description: Deletes a specific version of a bot. To delete all versions of a bot, use the DeleteBot operation.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The identifier of the bot that contains the version.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      - name: botVersion
        in: path
        required: true
        description: The version of the bot to delete.
        schema:
          type: string
          minLength: 1
          maxLength: 5
          pattern: ^[0-9]+$
      - name: skipResourceInUseCheck
        in: query
        required: false
        description: By default, Amazon Lex checks if any other resource, such as an alias or bot network, is using the bot version before it is deleted and throws a ResourceInUseException exception if the version is being used by another resource. Set this parameter to true to skip this check and remove the version even if it is being used by another resource.
        schema:
          type: boolean
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBotVersionResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '409':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '412':
          description: PreconditionFailedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    get:
      operationId: DescribeBotVersion
      summary: Provides metadata about a version of a bot
      description: Provides metadata about a version of a bot.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The identifier of the bot containing the version to return metadata for.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      - name: botVersion
        in: path
        required: true
        description: The version of the bot to return metadata for.
        schema:
          type: string
          minLength: 1
          maxLength: 5
          pattern: ^[0-9]+$
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeBotVersionResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '404':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    servers:
    - url: https://models-v2-lex.us-east-1.amazonaws.com
      description: Amazon Lex V2 Model Building endpoint (us-east-1; one regional endpoint per AWS Region — see https://docs.aws.amazon.com/general/latest/gr/lex.html)
  /bots/{botId}/botversions/{botVersion}/botlocales:
    put:
      operationId: CreateBotLocale
      summary: Creates a locale in the bot
      description: Creates a locale in the bot. The locale contains the intents and slot types that the bot uses in conversations with users in the specified language and locale. You must add a locale to a bot before you can add intents and slot types to the bot.
      tags:
      - Bots
      parameters:
      - name: botId
        in: path
        required: true
        description: The identifier of the bot to create the locale for.
        schema:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^[0-9a-zA-Z]+$
      - name: botVersion
        in: path
        required: true
        description: The version of the bot to create the locale for. This can only be the draft version of the bot.
        schema:
          type: string
          minLength: 5
          maxLength: 5
          pattern: ^DRAFT$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                localeId:
                  type: string
                  description: The identifier of the language and locale that the bot will be used in. The string must match one of the supported locales. All of the intents, slot types, and slots used in the bot must have the same locale. For more information, see Supported languages.
                description:
                  type: string
                  minLength: 0
                  maxLength: 2000
                  description: A description of the bot locale. Use this to help identify the bot locale in lists.
                nluIntentConfidenceThreshold:
                  type: number
                  format: double
                  minimum: 0
                  maximum: 1
                  description: 'Determines the threshold where Amazon Lex will insert the AMAZON.FallbackIntent, AMAZON.KendraSearchIntent, or both when returning alternative intents. AMAZON.FallbackIntent and AMAZON.KendraSearchIntent are only inserted if they are configured for the bot. For example, suppose a bot is configured with the confidence threshold of 0.80 and the AMAZON.FallbackIntent. Amazon Lex returns three alternative intents with the following confidence scores: IntentA (0.70), IntentB (0.60), IntentC (0.50). The response from the RecognizeText operation would be: AMAZON.FallbackIntent IntentA IntentB IntentC'
                voiceSettings:
                  $ref: '#/components/schemas/VoiceSettings'
                unifiedSpeechSettings:
                  $ref: '#/components/schemas/UnifiedSpeechSettings'
                audioFillerSettings:
                  $ref: '#/components/schemas/AudioFillerSettings'
                speechRecognitionSettings:
                  $ref: '#/components/schemas/SpeechRecognitionSettings'
                generativeAISettings:
                  $ref: '#/components/schemas/GenerativeAISettings'
                speechDetectionSensitivity:
                  type: string
                  enum:
                  - Default
                  - HighNoiseTolerance
                  - MaximumNoiseTolerance
                  description: The sensitivity level for voice activity detection (VAD) in the bot locale. This setting helps optimize speech recognition accuracy by adjusting how the system responds to background noise during voice interactions.
              required:
              - localeId
              - nluIntentConfidenceThreshold
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBotLocaleResponse'
        '400':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
        '402':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
        '409':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '412':
          description: PreconditionFailedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedException'
        '429':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
        '500':
          description: InternalServerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerException'
    post:
      operationId: ListBotLocales
      summary: Gets a list of locales for the specified bot
      description: Gets a list of locales for the specified bot.
      tags:
      - Bots
      parameters:
      - name: botId
[...]
